/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.fondo {
	
    -fx-background-image: url("/vista/img/fondo.jpg");
    -fx-background-size: cover; /* La imagen cubrirá todo el área */
    -fx-background-repeat: no-repeat; /* Evitar que se repita la imagen */
    -fx-background-position: center; /* Asegurar que la imagen esté centrada */
    
}